/$che 478 simulation project final$backup.bk$
/00.jpg
/2.edr
/200 Problem Set 11.pdf
/200 Problem Set 2 Solutions.pdf
/2019 W2 UMaine.pdf
/2020_Action Items - Signature Pages_US - Signed.pdf
/2020_Action Items - Signature Pages_US.pdf
/2020_Action Items - Signature Pages_VA - Signed.pdf
/2020_Action Items - Signature Pages_VA.pdf
/2021-2022 Scholarship Agreement FILLABLE.pdf
/3 Year Plan.docx
/3.5 PID parameters.pdf
/350 ex. 5.mpx
/350 ex. 5.mpx.bak
/352 Exam 1.vsm
/352 Exam practice.vsm
/352 HW 2.vsm
/385 HW 3.mcdx
/477 HW 2.pdf
/83924.jpg
/852.m
/88414.jpg
/99.jpg
/Acid-Base Extraction and Recrystalization.docx
/AIChE Thank You Letter.docx
/Alkenes by Dehydration of an Alcohol.docx
/Alkyne Synthesis.cdx
/Arduino
/asdfg.pdf
/Aspen Ass.mcdx
/Aspen Ass.xps
/aspenplus_ExceptionDump_Sun_Nov_14_09_48_55_2021.dmp
/aspenplus_ExceptionDump_Sun_Nov_14_10_14_16_2021.dmp
/Aspentech
/Ass Titties.xlsx
/Aug+31,+2022.pdf
/Bank Passwords.jpg
/Blue Cross.pdf
/Capstone Calculations.mcdx
/Capstone PFD.vsdx
/Capstone Project 2.vsdx
/Capstone Reactor 1 P&ID.vsdx
/Capstone Weekly Review.docx
/Capture.PNG
/Catalytic Hydrogenation.docx
/Change of college, major, minor, concentration.pdf
/CHE 111 Global Issue.docx
/CHE 112
/CHE 112 Exam II.mcdx
/CHE 112 Exam II.xlsx
/CHE 112 HW 4.xlsx
/CHE 112 HW 5-20190304_185319.mcdx
/CHE 112 HW 5.mcdx
/CHE 112 HW 6.mcdx
/CHE 112 HW 8.mcdx
/CHE 112 Lab 3-6-19.mcdx
/CHE 112 Lab 4.xlsx
/CHE 12 Exam II.xlsx
/CHE 200 Ethics Case.docx
/CHE 200 PS 11.mcdx
/CHE 200 PS 6 Solutions.mcdx
/CHE 350 Final Case Study.mpx
/CHE 350 Homework 1.docx
/CHE 350 HW 2.docx
/CHE 350 Job 1.docx
/CHE 350 Job 2.mpx
/CHE 350 Job 2.mpx.bak
/CHE 350 Job 3.mpx
/CHE 350 Job 3.mpx.bak
/CHE 350.mpx
/CHE 352 Embed 1.vsm
/CHE 352 Final paper.jpg
/CHE 352 Final.mcdx
/CHE 352 HW 3.mcdx
/CHE 352 HW 7.vsm
/CHE 352 HW 8 Redone.vsm
/CHE 352 Lab 1.xlsx
/CHE 352 Lab 2.xlsx
/CHE 360 Exam 1.pdf
/CHE 360 Exam 4 McLaughlin.pdf
/CHE 360 Exam 5 McLaughlin.pdf
/CHE 360 Exam 6 McLaughlin.pdf
/CHE 360 Exam II McLaughlin.pdf
/CHE 360 Exam III McLaughlin.pdf
/CHE 360 Final Exam McLaughlin.pdf
/CHE 360 HW 1.pdf
/CHE 360 HW 5 McLaughlin.mcdx
/Che 360 HW 7 McLaughlin.pdf
/CHE 361 Closing Report - Fluid Flow.docx
/CHE 361 Lab 2 Notes.pdf
/CHE 361 PC .pptx
/CHE 361 PC Lab 2 Notes.pdf
/CHE 361 PC Lab 4 Notes.pdf
/CHE 361 Progress Report.docx
/CHE 361 Uncertainty Proposal Report Fluid Flow.docx
/CHE 362 Exam I.pdf
/CHE 362 Exam II.pdf
/CHE 362 Exam III.docx
/CHE 362 HW 1.pdf
/CHE 362 HW 3 Revised.pdf
/CHE 362 HW 3.pdf
/CHE 362 HW 5.pdf
/CHE 362 HW 5.xlsx
/CHE 362 HW 6.pdf
/CHE 362 Ops HW 8.xlsx
/CHE 363 Distillation.xlsx
/CHE 363 Distilllation.mcdx
/CHE 363 Lab Proposal Report.docx
/CHE 363 Membrane Diagram.vsdx
/CHE 363 Project Proposal.docx
/CHE 368 GP 2.4-2.6.pdf
/CHE 368 GP 4.1.pdf
/CHE 368 HW 1.pdf
/CHE 368 LOA 1.pdf
/CHE 368 LOA 2 (1).pdf
/CHE 368 LOA 4.pdf
/CHE 368 PS 1 ().pdf
/CHE 368 PS 1.pdf
/CHE 368 PS 2 Redone.pdf
/CHE 368 PS 2.pdf
/CHE 368 PS 3 part.pdf
/CHE 368 PS 4.pdf
/CHE 368 PS 5.pdf
/CHE 368 PS 6.pdf
/CHE 368 PS 9.mcdx
/CHE 385 Base Case.ads
/CHE 385 Base Case.apw
/CHE 385 Base Case.bkp
/CHE 385 Base Case.mcdx
/CHE 385 Design Project Aspen.apwz
/CHE 385 Design Project Mark-Frost.mcdx
/CHE 385 Design Project.mcdx
/CHE 385 Exam II.mcdx
/CHE 385 Exam III.mcdx
/CHE 385 Exam IV.mcdx
/CHE 385 Exam IV.xps
/CHE 385 Exm 1.mcdx
/CHE 385 Homework 2.mcdx
/CHE 385 Homework A.mcdx
/CHE 385 HW 2.pdf
/CHE 385 HW 4.mcdx
/CHE 385 HW 5.mcdx
/CHE 385 HW 6.mcdx
/CHE 385 HW 6.pdf
/CHE 385 HW 7.mcdx
/CHE 385 HW 7.pdf
/CHE 385 HW 8.mcdx
/CHE 385 HW B.mcdx
/CHE 385 In Class EOS.mcdx
/CHE 385 Practice Exam.mcdx
/CHE 477 Heat Intergration Project.xlsx
/CHE 477 HW 1.mcdx
/CHE 477 HW 1.pdf
/CHE 477 HW 2.mcdx
/CHE 477 HW 2.pdf
/CHE 477 HW 3.xlsx
/CHE 477 Project II Heat Integration.docx
/CHE 477 PS 5.mcdx
/CHE 477 PS 5.xlsx
/CHE 477 Turn 10.xlsx
/CHE 477 Turn 6.mcdx
/CHE 477 Turn 6.xlsx
/CHE 477 Turn 7 Group 6.xlsx
/CHE 477 Turn 7.mcdx
/CHE 478 Aspen Extraction.docx
/CHE 478 Aspen HW.apwz
/CHE 478 Aspen HW.xlsx
/Che 478 aspen.docx
/CHE 478 Compressor.apwz
/CHE 478 Compressors.docx
/CHE 478 Distillation.apwz
/CHE 478 Distillation.docx
/CHE 478 Exam 3.apwz
/CHE 478 Exam II.apwz
/CHE 478 Excel Macro.xlsm
/CHE 478 Excel Macro.xlsx
/CHE 478 Extraction
/CHE 478 Extraction.apwz
/CHE 478 Flash and Decanters.docx
/CHE 478 Heaters.apwz
/CHE 478 Heaters.docx
/CHE 478 HeatX.apwz
/CHE 478 HeatX.apwz!HX.edr
/CHE 478 HeatX.apwz!HX_1.edr
/CHE 478 HeatX.apwz!HX_2.edr
/CHE 478 Heuristics.mcdx
/CHE 478 HW 1.mcdx
/CHE 478 HW 1.vsdx
/CHE 478 HW ch 3.pdf
/CHE 478 HW ch 5,6.pdf
/CHE 478 HX.docx
/CHE 478 Mixers and Splitters.docx
/CHE 478 Pumps.apwz
/CHE 478 Reactors II.apwz
/CHE 478 Reactors II.docx
/CHE 478 Reactors.apwz
/CHE 478 Reactors.docx
/CHE 478 Reactors2
/CHE 478 Reactors2.apwz
/CHE 478 Sim Project.vsdx
/CHE 478 Simulation Project
/CHE 478 Simulation Project 1.docx
/CHE 478 Simulation Project Base Case.mcdx
/CHE 478 Simulation Project Base Case.xlsx
/CHE 478 Simulation Project Final.ads
/CHE 478 Simulation Project Final.appdf
/CHE 478 Simulation Project Final.apw
/CHE 478 Simulation Project Final.bkp
/CHE 478 Simulation Project Final.for
/CHE 478 Simulation Project Final.his
/CHE 478 Simulation Project II
/CHE 478 Simulation Project II comp.apwz!E-403.edr
/CHE 478 Simulation Project II comp.apwz!E-403_1.edr
/CHE 478 Simulation Project II comp.apwz!E-403_2.edr
/CHE 478 Simulation Project II.apwz
/CHE 478 Simulation Project.apwz
/CHE 478 Simulation Report.docx
/CHE 498 Exam 1.pdf
/CHE 498 Exam II.pdf
/CHE 498 Exam III.pdf
/CHE Class 4-3-19.mcdx
/CHE Exercise 4.docx
/CHE HW 3.docx
/CHE361_PC_Lab1_Notes.pdf
/Checy Cruze Engine Chirping.png
/Chem Lab 2.xlsx
/Chem Lab.xlsx
/Chem Week 1.docx
/Chem Week 2.docx
/Chem Week 3.docx
/Chemistry Lab Report Polymer Chaine-link.docx
/Chemistry Lab Report Polymer Cross Linking.docx
/CHE_361_PC_Lab_3_Notes.docx
/CHE_363_Tue_B_Closing_Distillation.docx
/CHE_368_GP4.m
/Cholesterol-Stearic Acid Lab Report.docx
/Chromatography Lab.cdx
/CHY 472 HW 2.pdf
/CNF Reinforced PLA Cost Analysis.xlsx
/Copper Cycle Post Lab.docx
/Cover Letter- Mark McLaughlin 2.docx
/Cover Letter- Mark McLaughlin Old Town.docx
/Cover Letter- Mark McLaughlin Old Twon.docx
/Covid Result.pdf
/Crowdfunding.docx
/Custom Office Templates
/CyberLink
/Default.rdp
/desktop.ini
/Discoverbank-TaxForm-20200108-1099-INT (1).pdf
/dPLF.pdf
/ECE 209 Lab 2.docx
/ECE 209 Lab 2.pdf
/ECE 209, Lab 2, Mark McLaughlin.pdf
/ENG 101 Essay.docx
/Epoxidation of E-stilbene.cdx
/Equipment Specifications.docx
/Ethics CHE.docx
/Feburary 2022 Rent.PNG
/Final Exam CHE 352.vsm
/Final Exam part 1.jpg
/Final Exam.mcdx
/Fisher Valve Chart.pdf
/Flash and Decanters
/Flash and Decanters.apwz
/Flash-Decant 2.apwz
/Flowsheet Synthesis (1).pdf
/Fluid Flow Quiz 1-21 McLaughlin.pdf
/Fluid Flow Thu-A-FF-Closing Report-McLaughlin.docx
/Footprint Offer Letter.pdf
/Fore Loop for Vol CSTR.m
/Fort Gorges.MOV
/Fort Gorges.PNG
/FP W2 2022.pdf
/Fractional Wine Distillation.docx
/Freexing Point Lab Data.xlsx
/Freezing point Depression Lab Report.docx
/Future of Biorefinery Video.mp4
/g.jpg
/Gas Contant Lab Report.docx
/Gas Contant Lab Report.dotx
/GEE 230 Interview Summary.docx
/GEE HW 4.docx
/General Chemistry Lab
/Gilman Essay 1.docx
/Gilman Essay 2.docx
/GitHub
/GP.m
/GP4.m
/Heats of Reactions Lab Report.docx
/Heat_Duty_Isothermal_Batch.m
/Honesty Statement.pdf
/HopBusDan.pdf
/HopBusMark.pdf
/Hot Wheels Gage R&R.mpx
/Howie Mandel Performance.docx
/Howie Mandel Preformance.docx
/HP ePrint
/hw 5.pdf
/HW 5.vsm
/hw 7.pdf
/HW 8 + 9.vsm
/HW 8.vsm
/HW 9 CHE 352.pdf
/HW 9 redone.mcdx
/HW 9 Redone.vsm
/hw4 1.jpg
/hw4.jpg
/IMG-0092.jpg
/IMG-3018.jpg
/In Class Pipe.mcdx
/InkedP-H diagram Refridgeration.jpg
/Jan+31,+2023.pdf
/Job 1 CHE 350.mpx
/Job 1 CHE 350.mpx.bak
/KineticsGP.m
/KineticsG_P.m
/KnowTheseTables.pdf
/Lab 8 OChem.cdx
/Lab Team Performance Survey.pdf
/level 2 simulation project.mcdx
/level 2 simulation psucky).mcdx
/Life Cycle Analysis of Glass vs Plastic Milk Jug.docx
/Life Cycle Analysis.pdf
/Limiting Reagent Lab Report.docx
/ll.m
/LOA 1 day 2.pdf
/LOA 16 day 5 (1).pdf
/LOA 2 day 2.pdf
/LOA 2 Day 4.mcdx
/LOA 2 Day 4.pdf
/LOA 4 day2.mcdx
/LOA 4 day2.pdf
/LOA 5 day 2.mcdx
/LOA 5 day 2.pdf
/LOA 7 day 3 (2).pdf
/LOA 8.pdf
/LOA10_2_1_day5.m
/LOA_10_2_day_5.m
/LOA_10_day_5.m
/LOA_12M_day_6.m
/LOA_12_day_5.m
/LOA_13M_day_6.m
/LOA_13_day_5.m
/LOA_14M_day_6.m
/LOA_14_day_5.m
/LOA_18_day_5.m
/LOA_20M_day_6.m
/LOA_20_day_5.m
/LOA_7M_day_4.m
/LOA_9M_day_6.m
/M. McLaughlin WestRock Offer Letter.pdf
/Maisie Research.docx
/mark lisence.jpg
/Mark McLaughlin.docx
/Mark Pitcure.jpg
/MarkC)lab8.csv
/MATLAB
/McLaughin_Mark_HW7_PCHem.xlsx
/McLaughlin Mark.docx
/McLaughlin-MS-Closing-Report-1.docx
/McLaughlin_Closing_Report_Distillation.docx
/McLaughlin_Mark PChem HW 11.xlsx
/McLaughlin_Mark.docx
/McLaughlin_Mark_HW8.pdf
/McLaughlin_Mark_HW8.xlsx
/Measurement Computing
/MEE 252 Exam 1.pdf
/MEE 252 Exam II (1).pdf
/MEE 252 Exam III.pdf
/MEE 252 Final.pdf
/MEE 252 HW 10.pdf
/MEE 252 HW 11.pdf
/MEE 252 HW 2.pdf
/MEE 252 HW 3.pdf
/MEE 252 HW 4.pdf
/MEE 252 HW 6.pdf
/MEE 252 HW 7.pdf
/MEE 252 HW 8.pdf
/MEE 252 HW 9.pdf
/MEE HW 5.pdf
/Mega Resist Mother Fucker.docx
/Minitab.mpx
/Module 1 Challenge.xlsx
/Mr. D Recomendation.docx
/My Shapes
/Myth of Race.docx
/ND Paper 1.pdf
/ND Paper.oxps
/NE Dermatology.PNG
/Nordic Club Poster.docx
/Official College Transcript- Mark McLaughlin.pdf
/OIP.jpg
/Old Resume- Mark McLaughlin.docx
/Old Resume.docx
/Ops 1 HW 11 McLaughlin.pdf
/Ops 1 HW 3.pdf
/Ops Exam 6 McLaughlin.pdf
/Ops HW 10 McLaughlin.pdf
/Ops HW 10.apwz
/Ops HW 10.mcdx
/Ops HW 12 McLaughlin.pdf
/Ops HW 13 McLaughlin 1.pdf
/Ops HW 14 McLaughlin.pdf
/Ops HW 16 McLaughlin.docx
/Ops HW 6 McLaughlin.pdf
/Ops HW 8 McLaughlin.pdf
/Ops HW 9 McLaughlin.pdf
/OPS I hw 2.pdf
/Ops I lab PC Presentation.docx
/Ops II Distillation Project.mcdx
/Ops II Distillation Project.xlsx
/Ops II HW 10.xlsx
/Ops II HW 11.mcdx
/OPS II HW 5.png
/Ops II HW 7.xlsx
/Ops II HW 9.mcdx
/Ops II HW 9.pdf
/P-H diagram Refridgeration.JPG
/Paper Chromatography Lab Report.docx
/PChem 1.pdf
/PChem HW 10.pdf
/PChem HW 11.pdf
/PChem HW 12.xlsx
/PChem HW 13.pdf
/PChem HW 14.pdf
/PChem HW 18.pdf
/PChem HW 21.pdf
/PChem HW 22.pdf
/PChem HW 22.txt
/PChem HW 23.mcdx
/PChem HW 23.pdf
/PChem HW 27.mcdx
/PChem HW 27.pdf
/PChem HW 28(2).pdf
/PChem HW 28.mcdx
/PChem HW 28.pdf
/PChem HW 29.mcdx
/PChem HW 29.pdf
/PChem HW 3.pdf
/PChem HW 30.pdf
/PChem HW 5.pdf
/PChem HW 6.pdf
/PChem HW 7.pdf
/PChem HW 7.xlsx
/PChem hw.pdf
/PChem Learning Survey.JPG
/PChem Table 14.1.JPG
/PChem.m
/Peer Rating of Team Members (1).pdf
/Peer Rating of Team Members (2).pdf
/Peer Rating of Team Members.pdf
/Phases of Water Lab Report.docx
/Phases of Water Lab Report.xlsx
/pim_installmgr.log
/pim_installmgr.log.bak
/pim_prime_msi.log
/Pipe Project 1 Full.mcdx
/Piping Project 1.mcdx
/Please_DocuSign_Employment_Offer_Mark_McLaug.pdf
/PMMA Reinforced CNF Final Report.docx
/Post Chem Lab Workshop Questions.docx
/Post Chem Lab Workshop Questions.pdf
/PPA 264 HW 2.mcdx
/PPA 264 HW 2.pdf
/PPA Final.mcdx
/PPA HW 3.mcdx
/PPA hw 7.mcdx
/PPA hw 8.mcdx
/PPA HW 9.mcdx
/PPF Thank You 1.docx
/PPF Thank You 2.docx
/Precipitation Lab Report.dotx
/Precipitation Lab Report.dotx (AutoRecovered).docx
/Precipitation Lab Report.dotx.docx
/Precipitation Lab Report.pdf
/Problem Set 4.pdf
/Process Control Instrumentation Symbols.pdf
/Process Control Lab P&ID.vsdx
/Process Control Lab Proposal Report.docx
/Process Control Lab Schematic.vsdx
/Process Control Lab Survey.docx
/Process Control Steam Flow.vsm
/PS 5 4.10.pdf
/PS 9.pdf
/PS3.m
/PS_4_2.m
/PS_4_3.m
/PS_4_4.m
/PS_6_1.m
/PS_6_5.m
/PS_9_1.m
/PS_9_102.m
/PS_9_111.m
/PS_9_2.m
/PS_9_3.m
/PS_9_4.m
/Pulp and Paper Appl..oxps
/Pulp and Paper Letter.docx
/Python Scripts
/Radical Polymerization of Styrene.docx
/Rates of Reaction Lab Report.docx
/Rec..docx
/Recycle Fiber Project Minitab.mpx
/Resume- Mark McLaughlin.docx
/Resume- Mark McLaughlin.pdf
/Revised Uncertainty Calculations.docx
/rggfssdg.docx
/Safety Test Ops Lab.pdf
/Safety Training.JPG
/SampleTechnicalReport.pdf
/Scan Apr 13, 2021.pdf
/Scan Feb 21, 2021.pdf
/Scan Jan 7, 2022.pdf
/Scan Mar 23, 2021.pdf
/Screenshot 2021-09-15 154712.png
/Seminar Certificate.PNG
/Senior Design, Capstone
/SENIOR SCHOLARSHIP RECIPIENTS Fall Survey.pdf
/September Rent.PNG
/sex.docx
/Simulation 1.apwz
/SOC 101 Inequality for All.docx
/SOC Cover Girl.docx
/SOC Marble Experiment.docx
/SOC Marble Experiment.pdf
/Sociology Video 1 Assignment.docx
/Sound recordings
/SPC Exercise 12.docx
/SPC Final Case Study Notes.docx
/SPC HW 4.docx
/SPC HW 4.mpx
/SPC HW 5.docx
/Spectrometer Post Lab.docx
/Spectroscopy Post-Lab.docx
/Spending 2022 Test.xlsx
/Spending 2022.xlsx
/Spending Summary.xlsx
/SSF_SS_1098T 2019.pdf
/SSF_SS_1098T.pdf
/SSF_SS_1098T_2021.pdf
/Statics hw 1.pdf
/Study Aboad Registration.pdf
/Synthesis of Alum Lab Report.docx
/Synthesis of an Alkyne.docx
/Tank Drain 2.dat
/TEFL 120hr Course Certificate.pdf
/TEFL+Org+UK+-+Methodology+Resources.pdf
/tet.m
/Text.file.pdf
/Textbooks
/The Future Biorefinery PPA 264.pdf
/Thin Layer Chromatography Lab.docx
/Thu A Peer Rating.pdf
/Thu-A-FF-Closing-McLaughlin-2.docx
/Thu-A-PC-Closing-McLaughlin-1.docx
/Titration Post-Lab Questions.docx
/Training.pdf
/Travel Budget 2022.xlsx
/Travel Costs 2022.xlsx
/Tue-B-MS-Proposal-1.docx
/Tue_B_Distillation_Proposal_1.docx
/Tue_B_Distillation_Proposal_2.docx
/Turn 1.pdf
/turn 4.pdf
/turn four.mcdx
/UMaine $903 receipt.PNG
/UM_SSR_TSRPT (1).pdf
/UM_SSR_TSRPT.pdf
/UnitOps Training.pdf
/unnamed (1).jpg
/unnamed.jpg
/Untitled.mcdx
/Uphill Climb Reciept.PNG
/Useful Excel Functions Examples.xlsx
/Vaccination Card.jpg
/vb.png
/Westrock
/Westrock Na Calculation.mcdx
/Wolfram Player
/Zoom
/_1422zjf
/_1539lfc
/_1539lfc.adv
/_1539lfc.appdf
/_1539lfc.apprj
/_1539lfc.bks
/_1539lfc.co1
/_1539lfc.co2
/_1539lfc.cod
/_1539lfc.def
/_1539lfc.dfm
/_1539lfc.dyl
/_1539lfc.edf
/_1539lfc.for
/_1539lfc.gen
/_1539lfc.his
/_1539lfc.ia1
/_1539lfc.ia2
/_1539lfc.ikc
/_1539lfc.itd
/_1539lfc.jnl
/_1539lfc.nin
/_1539lfc.nis
/_1539lfc.plf
/_1539lfc.prd
/_1539lfc.rp1
/_1539lfc.rp2
/_1539lfc.scr
/_1539lfc.sin
/_1539lfc.sor
/_1539lfc.sum
/_1716icm
/_1716icm.ads
/_1716icm.adv
/_1716icm.appdf
/_1716icm.apprj
/_1716icm.bks
/_1716icm.co1
/_1716icm.co2
/_1716icm.cod
/_1716icm.def
/_1716icm.dfm
/_1716icm.dyl
/_1716icm.edf
/_1716icm.for
/_1716icm.gen
/_1716icm.his
/_1716icm.ia1
/_1716icm.ia2
/_1716icm.ikc
/_1716icm.inm
/_1716icm.itd
/_1716icm.jnl
/_1716icm.nin
/_1716icm.nis
/_1716icm.plf
/_1716icm.prd
/_1716icm.rp1
/_1716icm.rp2
/_1716icm.scr
/_1716icm.sin
/_1716icm.sor
/_1716icm.sum
/_3156biu
/_3227ptd
/_3512gwo
/_3952kzp
/_4318gjt
/_4318gjt.ads
/_4318gjt.adv
/_4318gjt.appdf
/_4318gjt.apprj
/_4318gjt.bks
/_4318gjt.co1
/_4318gjt.co2
/_4318gjt.cod
/_4318gjt.def
/_4318gjt.dfm
/_4318gjt.dyl
/_4318gjt.edf
/_4318gjt.for
/_4318gjt.gen
/_4318gjt.his
/_4318gjt.ia1
/_4318gjt.ia2
/_4318gjt.ikc
/_4318gjt.inm
/_4318gjt.itd
/_4318gjt.jnl
/_4318gjt.nin
/_4318gjt.nis
/_4318gjt.plf
/_4318gjt.prd
/_4318gjt.rp1
/_4318gjt.rp2
/_4318gjt.scr
/_4318gjt.sin
/_4318gjt.sor
/_4318gjt.sum
/_5007jxn
/_5606bvw
/_5606bvw.ads
/_5606bvw.adv
/_5606bvw.appdf
/_5606bvw.apprj
/_5606bvw.bks
/_5606bvw.co1
/_5606bvw.co2
/_5606bvw.cod
/_5606bvw.def
/_5606bvw.dfm
/_5606bvw.dyl
/_5606bvw.edf
/_5606bvw.for
/_5606bvw.gen
/_5606bvw.his
/_5606bvw.ia2
/_5606bvw.ikc
/_5606bvw.inm
/_5606bvw.itd
/_5606bvw.jnl
/_5606bvw.nin
/_5606bvw.nis
/_5606bvw.plf
/_5606bvw.prd
/_5606bvw.rp1
/_5606bvw.rp2
/_5606bvw.scr
/_5606bvw.sin
/_5606bvw.sor
/_5606bvw.sum
/~$E 478 Aspen Extraction.docx
/~$E 478 Flash and Decanters.docx
/~$E 478 Simulation Report.docx
/~$ecipitation Lab Report.dotx.docx
/~$id-Base Extraction and Recrystalization.docx
/~$in Layer Chromatography Lab.docx
/~$Laughlin-MS-Closing-Report-1.docx
/~$lman Essay 1.docx
/~$lman Essay 2.docx
/~$nthesis of Alum Lab Report.docx
/~$nthesis of an Alkyne.docx
/~$ocess Control Lab Proposal Report.docx
/~$olesterol-Stearic Acid Lab Report.docx
/~$Ops II HW 7.xlsx
/~$Spending 2022.xlsx
/~$u-A-PC-Closing-McLaughlin-1.docx
/~$uipment Specifications.docx
/~WRL0003.tmp
/~WRL0004.tmp
/~WRL1178.tmp
/~WRL2361.tmp
/~WRL2528.tmp
/~WRL3060.tmp
/~WRL3405.tmp
/My Music
/My Pictures
/My Videos